$primary-dark: #0A1128;
$primary-blue: #001F54;
$medium-blue: #034078;
$light-blue: #1282A2;
$background: #FEFCFB;
$white: #FFFFFF;
$gray-light: #F5F5F7;
$gray-medium: #E8E8EA;
$gray-dark: #6B7280;
$border-color: #D1D5DB;
$success: #059669;
$warning: #D97706;
$error: #DC2626;
