.entourage-calendrier-btn {
    background-color: #034078;
    color: #fff;
    border: none;
    box-shadow: 0 2px 6px rgba(3, 64, 120, 0.2);
    border-radius: 12px;
    padding: 8px 16px;
    font-size: 0.875rem;
}

.entourage-container {
  padding-top: 80px !important;
}

.dash-container {

  @media (min-width: 480px) {
    padding-top: 70px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 0;
    padding-left: 80px;
    padding-right: 80px;
  }
}
