.entourage-calendrier-btn {
  background-color:  #034078;/* couleur primaire */
  border-color: #034078;
}

.entourage-container {
  @media (min-width: 480px) {
    padding-top: 70px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
