.entourage-calendrier-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #034078;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: .813rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

/* container principal */
.entourage-container {
  padding-top: 80px;
  width:100%;
  display:flex;
  justify-content:center;
  padding-inline: none;
}

/* wrappers centrés */
.notif-container {
  width:100%;
  max-width: 65rem;
  padding:1rem; /* mobile first */
  margin:auto;
  padding-top: 80px;
}

.dash-container {
  width:100%;
  max-width: 65rem;
  padding-top: 80px;
  margin:auto;
}

.card-med {
  background:#fff;
  border-radius:12px;
  padding:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
  margin:15px;
}

.title-med {
  font-size:18px;
  font-weight:700;
  margin-bottom:12px;
}

.table-med {
  width:100%;
  border-collapse:separate;
  border-spacing:0;
}

.table-med th {
  background:#f4f6f9;
  padding:10px;
  font-size:14px;
  font-weight:600;
  border-bottom:2px solid #e0e0e0;
}

.table-med td {
  padding:10px;
  font-size:14px;
  border-bottom:1px solid #eee;
}

.med-name {
  font-weight:600;
}


.h2-entourage {
  text-align: left;
  font-size: 20px;

}

.p-entourage {
  text-align: left;
}
