<html lang="fr">
  <div class="pillami-container">
    <main class="pillami-main">
      <div class="pillami-content">
        <!-- En-tête principal -->
        <header class="pillami-header">
          <h1 class="pillami-title">Bienvenue sur Pillami</h1>
          <div class="pillami-subtitle">Application de suivi médical</div>
        </header>

        <!-- Section caractéristiques principales -->
        <section class="pillami-features">
          <div class="pillami-feature-card">
            <h2 class="pillami-feature-title">Rappels personnalisés</h2>
            <p class="pillami-feature-text">
             Pillami vous rappelle chaque prise de médicament à l’heure, selon votre traitement.
              Vous êtes ainsi sûr de ne jamais oublier une dose et de respecter votre plan médical.
            </p>
          </div>
          <div class="pillami-feature-card">
            <h2 class="pillami-feature-title">Pilathèque</h2>
            <p class="pillami-feature-text">
              La Pillathèque centralise toutes les informations sur vos médicaments : posologies, sous ordonance ou non.
               Un suivi sécurisé et complet pour que vous puissiez prendre vos traitements en toute confiance.
            </p>
          </div>

          <div class="pillami-feature-card">
            <h2 class="pillami-feature-title">Accompagnement Humain</h2>
            <p class="pillami-feature-text">
               Vous voulez accompagner vos proches ? Invitez-les à partager leur compte Pillami avec vous.
                Vous pourrez suivre le statut des rappels et savoir si les prises ont été effectuées,
                pour les soutenir et veiller à leur traitement en toute sécurité.
            </p>
          </div>
        </section>

        <!-- Section conclusion -->
        <section class="pillami-mission">
          <p class="pillami-mission-text">
            Pillami, l'application qui prend soin de vous et de ceux que vous aimez.
          </p>
        </section>

        <!-- Boutons d'action -->
        <section class="pillami-actions">
          <%= link_to "Se connecter", new_user_session_path, class: "pillami-btn pillami-btn-primary-1" %>
          <%= link_to "Créer un compte", new_user_registration_path, class: "pillami-btn pillami-btn-secondary" %>
        </section>
      </div>
    </main>
  </div>
</html>
